/**
 * /assets/scss/partials/blocks/blocks-base.scss
 *
 * Let's define our basic block styles
 *
 * - Imports Core
 * - Imports ACF Blocks
 * - Gutenberg Font Sizes
 * - Alignwide/Alignfull
 * - Block Editor Interior Widths
 * - Editor Title Styles
 * - Color Palette
 *
 */

/* ----- Import Core Partials -------------------- */
@import 'core/blocks-core-buttons';
@import 'core/blocks-core-columns';
@import 'core/blocks-core-cover';
@import 'core/blocks-core-gallery';
@import 'core/blocks-core-group';
@import 'core/blocks-core-images';
@import 'core/blocks-core-lists';
@import 'core/blocks-core-media-text';
@import 'core/blocks-core-paragraphs';
@import 'core/blocks-core-quote';
@import 'core/blocks-core-separators';
@import 'core/blocks-core-spacer';

/* ----- Import ACF Block Partials -------------------- */
@import 'acf/blocks-cwb.scss';
@import 'acf/blocks-faq.scss';
@import 'acf/blocks-header-with-button.scss';
@import 'acf/blocks-hero.scss';
@import 'acf/blocks-highlight-split.scss';
@import 'acf/blocks-max-width.scss';
@import 'acf/blocks-separator.scss';
@import 'acf/blocks-team.scss';

/* ----- Gutenberg Font Sizes -------------------- */
// Match these sizes to the font sizes in functions/gutenberg.php

.has-larger-font-size {
     font-size: 24px;
}

.has-large-font-size {
     font-size: 20px;
}

.has-regular-font-size {
     font-size: 16px;
}

.has-small-font-size {
    font-size: 12px;
}

/* ----- Alignwide/Alignfull -------------------- */
.entry-content > *,
.block-area > * {

	.full-width-content &,
	.content & {

          &.alignwide {
			margin-left: calc(50% - 50vw);
               margin-right: calc(50% - 50vw);
			max-width: 100vw;
			width: auto;

			@include media( 'tablet+' ) {
				margin-left: calc(25% - 25vw);
				margin-right: calc(25% - 25vw);
			}
		}

		&.alignfull {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}
	}

	&.alignleft {
		float: left;
		margin: 0 $base-margin $base-margin 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 $base-margin $base-margin;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
}

/* ----- Disable Links within ACF blocks -------------------- */
.acf-block-preview .acf-block.disable-pointer-events a {
     pointer-events: none;
}

/* ----- Block Editor Interior Width -------------------- */
.wp-block {
     max-width: $base-width;

	/* Wide column width */
	&[data-align="wide"] {
		max-width: none;
	}

     &[data-align="full"] {
          max-width: none;
          margin-left: -$base-margin !important;
          margin-right: -$base-margin !important;
     }
}

/* ----- Block Editor Margins -------------------- */
.block-editor-block-list {

     &__block {

          // remove to and bottom margins in the editor for layout blocks & acf blocks
          &[data-type^="acf"],
          &[data-type="core/columns"],
          &[data-type="core/cover"],
          &[data-type="core/gallery"],
          &[data-type="core/group"],
          &[data-type="core/media-text"],
          &[data-type="core/spacer"] {
               margin-top: 0;
               margin-bottom: 0;
          }

          // remove top margin only
          &[data-type="core/embed"],
          &[data-type="core/list"] {
               margin-top: 0;
               margin-bottom: $base-margin;
          }
     }
}

/* ----- Editor Variation Icon Styles -------------------- */
.components-button.block-editor-block-variation-picker__variation.has-icon .dashicon {
     font-size: 30px;
     width: 48px;
     height: 48px;
     justify-content: center;
     align-items: center;
     display: flex;
     margin: 0;
}

/* ----- Editor Title Styles -------------------- */
.edit-post-visual-editor__post-title-wrapper {
     width: calc(100% + 60px);
     margin: 0 -30px 50px;
     border-bottom: 4px solid rgba(0,0,0,0.3);
     background-color: rgba(0,0,0,0.05);

     .editor-post-title__block.wp-block {
     	max-width: 100%;
          margin: 0;
          padding: 0 30px;

          &::before{
               content: 'Page / Post Title';
               color: rgba(0,0,0,0.3);
               font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
               font-size: 13px;
               font-weight: 500;
               position: absolute;
               top: 5px;
               left: 30px;
          }

     	.editor-post-title__input {
               margin-bottom: 0 !important;
               height: auto !important;
               padding: 20px 0 2px !important;
     	}
     }
}

/* ----- Front End Colors to Match Color Picker in Block Editor -------------------- */
@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
