/**
 * /assets/scss/partials/blocks/core/blocks-core-columns.scss
 *
 * Let's define our core column styles
 *
 *
 */

/* ----- Core Block Columns -------------------- */
.wp-block-columns {
     margin-bottom: var(--wp--custom--layout--block-gap);
     // justify-content: center;

     .wp-block-column {

          &:not(:first-child) {
               margin-left: var(--wp--custom--layout--block-gap) !important;

               @include media( 'mobile' ) {
                    margin-left: 0 !important;
                    margin-top: var(--wp--custom--layout--block-gap);
               }
          }

          > *:last-child {
               margin-bottom: 0;

               &.wp-block-image img {
                    margin-bottom: 0;
               }
          }

          @include media( 'mobile+' ) {
               flex-basis: calc(50% - calc(var(--wp--custom--layout--block-gap) / 2) ) !important;
          }
     }

     &.is-variation-3-columns {

          // @media(max-width:781px) {
          //      justify-content: center;
          // }

          .wp-block-column {

               @media(max-width:781px) {
                    margin-top: var(--wp--custom--layout--block-gap);

                    &:nth-child(2n - 1) {
                         margin-left: 0 !important;
                    }

                    &:first-child,
                    &:nth-child(2) {
                         margin-top: 0;
                    }
               }

               @include media( 'mobile' ) {

                    &:not(:first-child) {
                         margin-top: var(--wp--custom--layout--block-gap);
                    }
               }
          }
     }

     &.is-variation-4-columns {

          @include media( 'medium' ) {
               flex-wrap: wrap;
               justify-content: center;
          }

          .wp-block-column {

               @include media( 'medium' ) {
                    margin-top: var(--wp--custom--layout--block-gap);
                    flex-grow: 0;

                    &:nth-child(2n - 1) {
                         margin-left: 0 !important;
                    }

                    &:first-child,
                    &:nth-child(2) {
                         margin-top: 0;
                    }
               }

               @include media( 'mobile' ) {

                    &:not(:first-child) {
                         margin-top: var(--wp--custom--layout--block-gap);
                    }
               }
          }
     }

     &.is-variation-5-columns {

          @include media( 'medium' ) {
               flex-wrap: wrap;
               // justify-content: center;
          }

          .wp-block-column {

               @media(max-width:950px) and (min-width:601px) {
                    margin-top: var(--wp--custom--layout--block-gap);
                    flex-grow: 0;
                    flex-basis: calc(calc(100% - calc(var(--wp--custom--layout--block-gap) * 2)) / 3) !important;

                    &:first-child,
                    &:nth-child(4) {
                         margin-left: 0 !important;
                    }

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                         margin-top: 0;
                    }
               }

               @include media( 'mobile' ) {

                    &:not(:first-child) {
                         margin-top: var(--wp--custom--layout--block-gap);
                    }
               }
          }
     }

     &.is-style-wide-break {

          @include media( 'medium' ) {
               flex-wrap: wrap;

               .wp-block-column {
                    flex-basis: 100% !important;
                    margin-left: 0 !important;

                    &:not(:first-child) {
                         margin-top: var(--wp--custom--layout--block-gap);
                    }
               }
          }
     }

     &.is-style-no-col-gap {

          .wp-block-column {

               &:not(:first-child) {
                    margin-left: 0 !important;
               }

               @include media( 'mobile+' ) {
                    flex-basis: 50% !important;
               }
          }
     }
}
