/**
 * /assets/scss/partials/blocks/core/blocks-core-media-text.scss
 *
 * Let's define our core media text styles
 *
 *
 */

/* ----- Core Block Media Text -------------------- */
.wp-block-media-text {
     margin-bottom: var(--wp--custom--layout--block-gap);

     .wp-block-media-text {

          &__content {
               padding: 0 0 0 calc(var(--wp--custom--layout--block-gap) * 2);

               > *:last-child {
                    margin-bottom: 0;
               }

               @include media( 'tablet' ) {
                    padding: 0;
                    margin-top: var(--wp--custom--layout--block-gap);
               }
          }
     }

     &.alignfull {

          .wp-block-media-text__content {
               padding-right: var(--wp--custom--layout--block-gap);

               @include media( 'tablet' ) {
                    padding: 0 var(--wp--custom--layout--block-gap);
               }
          }
     }

     &.alignwide {

          .wp-block-media-text__content {

               @include media( 'tablet' ) {
                    padding: 0 var(--wp--custom--layout--block-gap);
               }
          }
     }

     @include media( 'tablet+' ) {
          &.has-media-on-the-right {

               .wp-block-media-text__content {
                    padding-left: 0;
                    padding-right: calc(var(--wp--custom--layout--block-gap) * 2);
               }

               &.alignfull {
                    padding-left: var(--wp--custom--layout--block-gap);
               }
          }
     }

     @include media( 'tablet' ) {
          -ms-grid-columns: 100% !important;
          grid-template-columns: 100% !important;

          .wp-block-media-text {

               &__media {
                    -ms-grid-column: 1 !important;
                    grid-column: 1 !important;
                    -ms-grid-row: 1 !important;
                    grid-row: 1 !important;
               }

               &__content {
                    -ms-grid-column: 1 !important;
                    grid-column: 1 !important;
                    -ms-grid-row: 2 !important;
                    grid-row: 2 !important;
                    padding: 0;
               }
          }
     }

     &.is-style-wide-break {

          @include media( 'medium' ) {
               -ms-grid-columns: 100% !important;
               grid-template-columns: 100% !important;

               .wp-block-media-text {

                    &__media {
                         -ms-grid-column: 1;
                         grid-column: 1;
                         -ms-grid-row: 1;
                         grid-row: 1;
                    }

                    &__content {
                         -ms-grid-column: 1;
                         grid-column: 1;
                         -ms-grid-row: 2;
                         grid-row: 2;
                         padding: 0;
                    }
               }
          }
     }
}
