/**
 * /assets/scss/partials/blocks/core/blocks-core-media-text.scss
 *
 * Let's define our core media text styles
 *
 *
 */

/* ----- Core Block Media Text -------------------- */
.wp-block-media-text {

     .wp-block-media-text {

          &__content {
               padding: 0 0 0 50px;

               > *:last-child {
                    margin-bottom: 0;
               }

               @include media( 'mobile' ) {
                    padding: 0;
                    margin-top: $base-margin;
               }
          }
     }

     &.alignwide {

          @media(max-width:$base-width-with-padding) {
               margin: 0 !important;
          }
     }

     &.alignfull,
     &.alignwide {

          .wp-block-media-text {

               &__content {

                    @include media( 'mobile' ) {
                         padding: 0 $mobile-margin;
                    }
               }
          }
     }

     &.has-media-on-the-right .wp-block-media-text__content {
          padding-left: 0;
          padding-right: 50px;

          @include media( 'mobile' ) {
               padding: 0;
          }
     }

     &.has-media-on-the-left .wp-block-media-text__content {
          padding-right: 0;
     }

     &.is-style-wide-break {

          @include media( 'medium' ) {
               -ms-grid-columns: 100% !important;
               grid-template-columns: 100% !important;

               .wp-block-media-text {

                    &__media {
                         -ms-grid-column: 1;
                         grid-column: 1;
                         -ms-grid-row: 1;
                         grid-row: 1;
                         margin-bottom: $base-margin;
                    }

                    &__content {
                         -ms-grid-column: 1;
                         grid-column: 1;
                         -ms-grid-row: 2;
                         grid-row: 2;
                         padding: 0 !important;
                    }
               }
          }
     }

     &.is-style-mobile-image-top {

          @include media( 'mobile' ) {

               .wp-block-media-text {

                    &__content {
                         -ms-grid-row: 2 !important;
                         grid-row: 2 !important;
                    }

                    &__media {
                         -ms-grid-row: 1 !important;
                         grid-row: 1 !important;
                    }
               }
          }
     }
}
