/**
 * /assets/scss/partials/blocks/core/blocks-core-gallery.scss
 *
 * Let's define our core gallery styles
 *
 *
 */

 /* ----- Core Block Gallery -------------------- */
.entry-content .wp-block-gallery {

     ul {
          padding-left: 0;
          margin-bottom: 0;

          .blocks-gallery-item {
               padding-bottom: 0;
          }
     }
}
