/**
 * /assets/scss/partials/blocks/core/blocks-core-paragraphs.scss
 *
 * Let's define our core paragraph text styles
 *
 *
 */

/* ----- Core Block Paragraphs -------------------- */
p {
	margin: 0 0 var(--wp--custom--layout--block-gap);
	padding: 0;

     &.has-background {
          padding: var( --wp--custom--layout--padding, 16px );
     }

     &.is-style-no-bottom-margin {
          margin-bottom: 0;
     }

     &.is-style-half-bottom-margin {
          margin-bottom: calc( var(--wp--custom--layout--block-gap) / 2);
     }
}
