/**
 * /assets/scss/partials/blocks/core/blocks-core-spacer.scss
 *
 * Let's define our core spacer styles
 *
 *
 */

 /* ----- Core Block Spacers -------------------- */
.block-library-spacer {

     &__resize-container {
          margin-bottom: 0;
     }
}

.wp-block-spacer {
     margin-top: 0;
     margin-bottom: 0;

     &.is-style-responsive {

          @include media( 'medium' ) {
               max-height: calc( 4 * var(--wp--custom--layout--padding) );
          }

          @include media( 'tablet' ) {
               max-height: calc( 3 * var(--wp--custom--layout--padding) );
          }

          @include media( 'mobile' ) {
               max-height: calc( 2 * var(--wp--custom--layout--padding) );
          }
     }

     &.is-style-tablet-hide {

          @include media( 'tablet' ) {
               display: none;
          }
     }

     &.is-style-mobile-hide {

          @include media( 'mobile' ) {
               display: none;
          }
     }

     &.is-style-desktop-hide {

          @include media( 'mobile+' ) {
               display: none;

               &.wp-block {
                    display: block !important;
                    border: 1px solid rgba(255,0,0,0.1);
                    position: relative;

                    &:before {
                         content: "This is hidden on desktop and this message only shows in the admin area as a visual reminder of this hidden spacer block.";
                         position: absolute;
                         top: 10px;
                         left: 0;
                         width: 100%;
                         padding: 5px;
                         font-size: 12px;
                         color: rgba(0,0,0,0.3);
                    }
               }
          }
     }
}
