/**
 * /assets/scss/partials/blocks/core/blocks-core-paragraphs.scss
 *
 * Let's define our core paragraph text styles
 *
 *
 */

/* ----- Core Block Paragraphs -------------------- */
p { // Match these sizes to the font sizes in functions/gutenberg.php
	margin: 0 0 $base-margin;
	padding: 0;

     &.has-background {
          padding: 15px;
     }

     &.has-larger-font-size {
          font-size: 24px;
     }

	&.has-large-font-size {
         	font-size: 20px;
	}

	&.has-regular-font-size {
		font-size: 16px;
	}

	&.has-small-font-size {
	    font-size: 12px;
	}

     &.is-style-no-bottom-margin {
          margin-bottom: 0;
     }

     &.is-style-half-bottom-margin {
          margin-bottom: $base-margin-half;
     }
}
