/**
 * /assets/scss/partials/blocks/core/blocks-core-columns.scss
 *
 * Let's define our core column styles
 *
 *
 */

/* ----- Core Block Columns -------------------- */
.wp-block-columns {
     margin-bottom: $base-margin;
     justify-content: center;

     .wp-block-column {

          &:not(:first-child) {
               margin-left: $column-gap;

               @media(max-width:599px) {
                    margin-left: 0;
                    margin-top: $base-margin;
               }
          }

          > *:last-child {
               margin-bottom: 0;
          }

          @media(min-width:$mobile-breakpoint) {
               flex-basis: calc(50% - #{$column-gap-half}) !important;
          }
     }

     &.is-variation-3-columns {

          @media(max-width:781px) {
               justify-content: center;
          }

          .wp-block-column {

               @media(max-width:781px) {
                    margin-top: $base-margin;

                    &:nth-child(2n - 1) {
                         margin-left: 0;
                    }

                    &:first-child,
                    &:nth-child(2) {
                         margin-top: 0;
                    }
               }

               @media(max-width:599px) {

                    &:not(:first-child) {
                         margin-top: $base-margin;
                    }
               }
          }
     }

     &.is-variation-4-columns {

          @media(max-width:950px) {
               flex-wrap: wrap;
               justify-content: center;
          }

          .wp-block-column {

               @media(max-width:950px) {
                    margin-top: $base-margin;
                    flex-grow: 0;

                    &:nth-child(2n - 1) {
                         margin-left: 0;
                    }

                    &:first-child,
                    &:nth-child(2) {
                         margin-top: 0;
                    }
               }

               @media(max-width:599px) {

                    &:not(:first-child) {
                         margin-top: $base-margin;
                    }
               }
          }
     }

     &.is-variation-5-columns {

          @media(max-width:950px) {
               flex-wrap: wrap;
               justify-content: center;
          }

          .wp-block-column {

               @media(max-width:950px) and (min-width:$mobile-breakpoint) {
                    margin-top: $base-margin;
                    flex-grow: 0;
                    flex-basis: calc(calc(100% - calc(#{$column-gap} * 2)) / 3) !important;

                    &:first-child,
                    &:nth-child(4) {
                         margin-left: 0;
                    }

                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                         margin-top: 0;
                    }
               }

               @media(max-width:599px) {

                    &:not(:first-child) {
                         margin-top: $base-margin;
                    }
               }
          }
     }

     &.is-style-wide-break {

          @media(max-width:950px) {
               flex-wrap: wrap;

               .wp-block-column {
                    flex-basis: 100% !important;
                    margin-left: 0;

                    &:not(:first-child) {
                         margin-top: $base-margin;
                    }
               }
          }
     }

     &.is-style-no-col-gap {

          .wp-block-column {

               &:not(:first-child) {
                    margin-left: 0;
               }

               @media(min-width:$mobile-breakpoint) {
                    flex-basis: 50% !important;
               }
          }
     }
}
