/**
 * /assets/scss/partials/blocks/core/blocks-core-list.scss
 *
 * Let's define our core list styles
 *
 *
 */

/* ----- Core List Styles -------------------- */
.entry-content ul,
.entry-content ol,
ul.wp-block,
ol.wp-block {
     padding-left: var(--wp--custom--layout--block-gap);
     margin-bottom: var(--wp--custom--layout--block-gap);

     li {
          margin: 0 0 10px;

          &:last-child {
               margin-bottom: 0;
          }
     }

     &.is-style-styled-list {
          list-style-type: none;
          background-color: transparent !important;
          padding: 0 !important;

          li {
               position: relative;
               padding: 0 0 0 17px !important;

               &::before {
                    content: "";
                    width: 7px;
                    height: 7px;
                    border-radius: 7px;
                    background-color: var(--wp--preset--color--primary);
                    position: absolute;
                    top: 8px;
                    left: 0;
               }

               &:last-child {
                    margin-bottom: 30px;
               }
          }

          &.has-secondary-background-color {

               li::before {
                    background-color: var(--wp--preset--color--secondary);
               }
          }
     }
}

.entry-content ol.is-style-styled-list,
ol.wp-block.is-style-styled-list {
     counter-reset: wd-counter;

     li {
          counter-increment: wd-counter;
          padding: 0 0 0 26px !important;

          &::before {
               content: counter(wd-counter)".";
               color: var(--wp--preset--color--primary);
               font-weight: 600;
               width: auto;
               height: auto;
               background-color: transparent !important;
               top: 0;
               font-family: var(--wp--preset--font-family--secondary-font);
          }
     }

     &.has-secondary-background-color {

          li::before {
               color: var(--wp--preset--color--secondary);
          }
     }
}
