/**
 * /assets/scss/partials/blocks/core/blocks-core-quote.scss
 *
 * Let's define our core blockquote styles
 *
 *
 */

/* ----- Core Block Blockquote -------------------- */
blockquote,
blockquote.wp-block-quote {
	background: $grey-light;
     margin-top: $base-margin;
     margin-bottom: $base-margin;
     padding: 40px;
     border-left: 10px solid darken( $grey-light, 25% );

     .entry-content & {
          margin-left: 0;
          margin-right: 0;
     }

	p {
          font-size: 20px;
          margin-bottom: $base-margin;

          &:last-child {
               margin-bottom: 0;
          }
	}

	cite,
	.wp-block-quote__citation {
          margin-top: $base-margin;
          display: block;
          font-size: inherit;
          font-style: normal;
	}
}
