/**
 * /assets/scss/partials/blocks/core/blocks-core-group.scss
 *
 * Let's define our core group styles
 *
 *
 */

 /* ----- Core Block Group -------------------- */
.wp-block-group {

     > * {
          max-width: var(--wp--custom--layout--default);
          margin-left: auto;
          margin-right: auto;

          &:last-child {
               margin-bottom: 0;
          }

          // since gravity forms add a few hidden iframes it messes up the :last-child CSS, this fixes that
          &:nth-last-child(3) {

               &.gform_wrapper {
                    margin-bottom: 0;
               }
          }
     }

     &.alignfull,
     .wp-block[data-align="full"] & {
          padding-left: var(--wp--custom--layout--padding);
          padding-right: var(--wp--custom--layout--padding);
     }

     &.has-background {
          padding: var(--wp--custom--layout--padding);

          &.alignfull,
          &.alignwide,
          &.aligncenter,
          .wp-block[data-align="full"] &,
          .wp-block[data-align="wide"] & {
               @include spacing( 'vertical', null );
          }
     }

     .max-width-block__interior > *:last-child {
          margin-bottom: 0;
     }
}
