/**
 * /assets/scss/partials/blocks/core/blocks-core-gallery.scss
 *
 * Let's define our core gallery styles
 *
 *
 */

/* ----- Core Block Gallery -------------------- */
.wp-block-gallery {

     .wp-block-image {

          img {
               margin: 0;
          }
     }
}
