/**
 * /assets/scss/partials/blocks/core/blocks-core-cover.scss
 *
 * Let's define our core cover styles
 *
 *
 */

 /* ----- Core Block Cover -------------------- */
.wp-block-cover {
     @include spacing( 'both', null );

     @include media( 'mobile' ) {
          padding: calc(var(--wp--custom--layout--block-gap) * 3) var(--wp--custom--layout--block-gap);
     }

     &.alignfull {
          width: 100vw;
     }

     &.alignwide {

          @include media( 'tablet' ) {
               max-width: 100vw !important;
               width: 100vw;
          }
     }

     &__inner-container {
          max-width: var(--wp--custom--layout--default);
          margin: 0 auto;

          > *:last-child {
               margin-bottom: 0;
          }
     }
}
