/**
 * /assets/scss/partials/blocks/core/blocks-core-group.scss
 *
 * Let's define our core group styles
 *
 *
 */

 /* ----- Core Block Group -------------------- */
.wp-block-group {

     &__inner-container > * {

          &.alignwide {
               margin: 0 calc(25% - 25vw);
               max-width: 100vw;
               width: auto;
          }

          &.alignfull {
               margin: 0 calc(50% - 50vw);
               max-width: 100vw;
               width: 100vw;
          }

          &:last-child {
               margin-bottom: 0;
          }
     }

     &.alignfull,
     .wp-block[data-align="full"] & {
          @include spacing( 'both', 'no-vertical' );

          .wp-block-group__inner-container {
               max-width: $base-width;
               margin: 0 auto;
          }
     }

     &.aligncenter,
     .wp-block[data-align="center"] & {

          .wp-block-group__inner-container {
               max-width: $base-content-width;
               margin: 0 auto;
          }
     }

     &.has-background {
          @include spacing( 'both', null );

          &.alignfull,
          &.alignwide,
          &.aligncenter,
          .wp-block[data-align="full"] &,
          .wp-block[data-align="wide"] &,
          .wp-block[data-align="center"] & {
               @include spacing( 'vertical', null );
          }
     }
}
