/**
 * /assets/scss/partials/blocks/core/blocks-core-quote.scss
 *
 * Let's define our core blockquote styles
 *
 *
 */

/* ----- Core Block Blockquote -------------------- */
.wp-block-quote {
     margin: var(--wp--custom--layout--block-gap) auto;
	background: var(--wp--custom--color--grey-light);
     padding: var( --wp--custom--layout--padding, 16px );
     border-left: 10px solid var(--wp--custom--color--grey-medium);

	p {
          font-size: 20px;
          margin-bottom: var(--wp--custom--layout--block-gap);

          &:last-child {
               margin-bottom: 0;
          }
	}

	cite {
          margin-top: var(--wp--custom--layout--block-gap);
          display: block;
	}
}
