/**
 * /assets/scss/partials/blocks/core/blocks-core-columns.scss
 *
 * Let's define our core column styles
 *
 *
 */

/* ----- Core Block Columns -------------------- */
.wp-block-columns:not(.is-not-stacked-on-mobile) {
     margin-bottom: var(--wp--custom--layout--block-gap);

     .wp-block-column {

          @media(min-width:782px) {

               &:not(:first-child) {
                    margin-left: var(--wp--custom--layout--block-gap);
               }
          }

          > *:last-child {
               margin-bottom: 0;

               &.wp-block-image img {
                    margin-bottom: 0;
               }
          }

          // since gravity forms add a few hidden iframes it messes up the :last-child CSS, this fixes that
          > *:nth-last-child(3) {

               &.gform_wrapper {
                    margin-bottom: 0;
               }
          }

          @media(max-width:781px) and (min-width:600px) {

               &:nth-child(n+3) {
                    margin-top: var(--wp--custom--layout--block-gap);
               }

               &:nth-child(2n) {
                    margin-left: var(--wp--custom--layout--block-gap);
               }
          }

          @include media( 'mobile' ) {

               &:nth-child(n+2) {
                    margin-top: var(--wp--custom--layout--block-gap);
               }
          }
     }

     &.is-style-wide-break {

          @include media( 'medium' ) {
               flex-wrap: wrap;

               .wp-block-column {
                    flex-basis: 100% !important;
                    margin-left: 0 !important;

                    &:not(:first-child) {
                         margin-top: var(--wp--custom--layout--block-gap);
                    }
               }
          }
     }

     &.is-style-no-col-gap {

          .wp-block-column {

               &:not(:first-child) {
                    margin-left: 0 !important;
               }

               @include media( 'mobile+' ) {
                    flex-basis: 50% !important;
               }
          }
     }
}
