/**
 * /assets/scss/partials/base/mixins.scss
 *
 * Let's define our universal mixins for use throughout the theme
 *
 */

/**
* Base text styles
*/
%base-style {
     color: $base-color;
     font-family: $font-stack-main;
     font-size: 16px;
     line-height: 1.6;
     font-weight: 400;
     height: auto;
     min-height: auto;
}


/**
* Base button styles
*/
%button-styles {
     border: 2px solid $primary-color;
     background: $primary-color;
     color: $white;
     font-size: 16px;
     cursor: pointer;
     padding: 10px 15px;
     display: inline-block;
     height: auto;
     border-radius: 3px;

     &:hover,
     &:focus {
          border-color: $primary-color-hover;
          background: $primary-color-hover;
          color: $white;
          text-decoration: none;
     }

     &.button--inverse {
          background-color: transparent;
          color: $primary-color;

          &:hover,
          &:focus {
               background-color: $primary-color;
               color: $white;
               border-color: $primary-color;
          }
     }
}


/**
* Transitions
*/
%transition {
     transition: all 0.2s ease-in-out;
}


/**
* RGBA color conversion
*/
@mixin rgba-background( $hexcolor, $opacity ) {
     background-color: $hexcolor;
     background-color: rgba( $hexcolor, $opacity );
}


/**
 * Placeholder Color
 */
@mixin placeholder-color( $color ) {

     ::-moz-placeholder {
          color: $color;
          opacity: 1;
     }

     ::-ms-input-placeholder {
          color: $color;
     }

     ::-webkit-input-placeholder {
          color: $color;
     }

     input:focus::-webkit-input-placeholder,
     input:focus::-moz-placeholder,
     input:focus:-ms-input-placeholder,
     textarea:focus::-webkit-input-placeholder,
     textarea:focus::-moz-placeholder,
     textarea:focus:-ms-input-placeholder {
          color: transparent;
     }

}

/**
 * Responsive font sizes
 */
@mixin font-sizes( $desktop: null, $tablet: null, $mobile: null ) {

     @if( $desktop ) {
          font-size: $desktop;
     }

     @if( $tablet ) {
          @media(max-width:$tablet-breakpoint) {
               font-size: $tablet;
          }
     }

     @if( $mobile ) {
          @media(max-width:$mobile-breakpoint) {
               font-size: $mobile;
          }
     }
}

/**
 * Default responsive spacing
 */
@mixin spacing( $orientation: null, $size: null ) {

     @if 'vertical' == $orientation {

          padding-top: $vertical-spacing;
          padding-bottom: $vertical-spacing;

          @media(max-width:$tablet-breakpoint) {
               padding-top: $vertical-spacing-tablet;
               padding-bottom: $vertical-spacing-tablet;
          }

          @media(max-width:$mobile-breakpoint) {
               padding-top: $vertical-spacing-mobile;
               padding-bottom: $vertical-spacing-mobile;
          }
     }

     @if 'horizontal' == $orientation {

          padding-left: $horizontal-spacing;
          padding-right: $horizontal-spacing;

          @if 'no-vertical' == $size {
               padding-top: 0;
               padding-bottom: 0;
          }

          @media(max-width:$tablet-breakpoint) {
               padding-left: $horizontal-spacing-tablet;
               padding-left: $horizontal-spacing-tablet;
          }

          @media(max-width:$mobile-breakpoint) {
               padding-left: $horizontal-spacing-mobile;
               padding-left: $horizontal-spacing-mobile;
          }
     }

     @if 'both' == $orientation {

          padding: $horizontal-spacing;

          @media(max-width:$tablet-breakpoint) {
               padding: $horizontal-spacing-tablet;
          }

          @media(max-width:$mobile-breakpoint) {
               padding: $horizontal-spacing-mobile;
          }

          @if 'large' == $size {
               padding: $vertical-spacing $horizontal-spacing;

               @media(max-width:$tablet-breakpoint) {
                    padding: $vertical-spacing-tablet $horizontal-spacing-tablet;
               }

               @media(max-width:$mobile-breakpoint) {
                    padding: $vertical-spacing-mobile $horizontal-spacing-mobile;
               }
          }

     }
}
