/**
 * /assets/scss/partials/base/tables.scss
 *
 * Let's define our table styles
 *
 */

table {
     border-collapse: collapse;
     border-spacing: 0;
     margin-bottom: 20px;

     &.striped tr:nth-of-type(odd) {
          background-color: #fafafa;
     }

     th {
          border: 1px solid #ddd;
          padding: 10px;
          position: relative;
          text-align: left;
     }

     td {
          border: 1px solid #ddd;
          padding: 10px;
          position: relative;
     }
}
