/**
 * /assets/scss/partials/base/typography.scss
 *
 * Let's define our global typography styles
 *
 */

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
     @extend %transition;
}

a {
     color: $link_color;
     background-color: transparent;
     text-decoration: none;
     @extend %transition;

     &:hover {
          color: darken( $link_color, 10% );
          text-decoration: underline;
     }

     &[href^="tel"],
     &[href^="tel"]:hover {
          color: $base-color;
     }

}

ol,
ul {
	margin: 0;
	padding: 0;
}

b,
strong {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

code {
     background-color: $grey-medium;
     padding: 0.125em 0.25em;
}


pre {
     border: 1px solid $grey-medium;
     line-height: 1.3125;
     margin: 0 0 1.75em;
     max-width: 100%;
     overflow: auto;
     padding: 1.75em;
     white-space: pre;
     white-space: pre-wrap;
     word-wrap: break-word;
}
