/**
 * /assets/scss/partials/base/typography.scss
 *
 * Let's define our global typography styles
 *
 */

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
     @extend %transition;
}

a {
     background-color: transparent;
     text-decoration: none;
     @extend %transition;

     &:hover {
          text-decoration: underline;
     }

     &[href^="tel"],
     &[href^="tel"]:hover {
          color: var(--wp--preset--color--foreground);
     }
}

ol,
ul {
	margin: 0;
	padding: 0;
}

b,
strong {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

code {
     padding: 0.125em 0.25em;
     background-color: $neutral_4;
}


pre {
     margin: 0 0 1.75em;
     padding: 1.75em;
     max-width: 100%;
     border: 1px solid $neutral_4;
     line-height: 1.3125;
     overflow: auto;
     white-space: pre;
     white-space: pre-wrap;
     word-wrap: break-word;
}
