// typography
$font-stack-main: 'Roboto', sans-serif;
$font-stack-secondary: 'Roboto', sans-serif;


// base colors
$base-color: #373737;
$neutral_1: #fafafa;
$neutral_2: #f5f5f5;
$neutral_3: #eeeeee;
$neutral_4: #e0e0e0;
$neutral_5: #bdbdbd;
$neutral_6: #9e9e9e;
$neutral_7: #757575;
$neutral_8: #616161;
$neutral_9: #424242;
$neutral_10: #212121;
$black: #000;
$white: #fff;


// gutenberg greys
$grey-light: $neutral_1;
$grey-medium: $neutral_4;
$grey-dark: $neutral_9;


// brand colors
$primary-color: #007991;
$primary-color-hover: darken( $primary-color, 10% );
$secondary-color: #439a86;
$secondary-color-hover: darken( $secondary-color, 10% );


// base link color
$link_color: $primary-color;


// interior Widths
$base-margin: 30px;
$mobile-margin: 20px;
$base-margin-half: $base-margin / 2;
$base-width: 1168px;
$base-content-width: 768px;
$base-width-with-padding: $base-width + ($base-margin * 2);
$alignwide-width: 300px;
$alingwide-width-full: $alignwide-width + $base-width;
$alignwide-width-thin: $alignwide-width + $base-content-width;


// breakpoints
$tablet-breakpoint: 768px;
$mobile-breakpoint: 600px;
$menu-breakpoint: 1000px;
$menu-breakpoint-1: $menu-breakpoint + 1;


// form variables
$form-spacing: $base-margin;
$form-spacing-half: $form-spacing / 2;
$form-padding: 15px;
$form-border-width: 2px;
$form-border-color: $grey-medium;
$form-border-color-focus: $primary-color;
$form-text-color: $base-color;
$form-required-color: red;
$form-error: red;
$form-border-radius: 5px;
$form-font-size: 16px;


// column spacing
$column-gap: 50px;
$column-gap-half: $column-gap * 0.5;


// block Coloring
// match names to Color Palette in /functions/gutenberg.php
$colors: ( primary-color, $primary-color ),
	    ( secondary-color, $secondary-color ),
         ( base-color, $base-color ),
         ( grey-light, $grey-light ),
         ( grey-medium, $grey-medium ),
         ( grey-dark, $grey-dark ),
         ( white, $white ),
         ( black, $black );
