/* Author Dependencies */
/**
 * /assets/scss/partials/base/mixins.scss
 *
 * Let's define our universal mixins for use throughout the theme
 *
 */
/**
* Base text styles
*/
/**
* Base button styles
*/
/**
* Transitions
*/
.wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"] {
  transition: all 0.2s ease-in-out; }

/**
* RGBA color conversion
*/
/**
 * Placeholder Color
 */
/**
 * Responsive font sizes
 */
/**
 * Default responsive spacing
 */
/**
 * Media queries
 */
/* Admin CSS */
/* ----- menu separators --------------- */
#adminmenu li.wp-menu-separator {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3); }

.block-editor-block-inspector .components-base-control {
  width: calc(100% - 8px); }

/* ----- block editor --------------- */
body .editor-styles-wrapper {
  padding: 0 var(--wp--custom--layout--padding); }
  body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {
    max-width: var(--wp--custom--layout--default); }
  body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align="left"],
  body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align="right"] {
    float: none;
    margin-right: 0;
    margin-left: 0; }
  body .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align="full"] {
    margin-left: calc( -1 * var(--wp--custom--layout--padding)) !important;
    margin-right: calc( -1 * var(--wp--custom--layout--padding)) !important;
    max-width: 100vw; }
  body .editor-styles-wrapper a {
    color: var(--wp--custom--color--link); }
    body .editor-styles-wrapper a[href^="tel"], body .editor-styles-wrapper a[href^="tel"]:hover {
      color: var(--wp--preset--color--foreground); }
  body .editor-styles-wrapper .editor-post-title .editor-post-title__input {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 700;
    font-size: 36px; }

/* ----- block editor content width for pages with sidebars --------------- */
.post-type-post .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > * {
  max-width: var(--wp--custom--layout--thin); }

.content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .editor-post-title__block.wp-block,
.content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block,
.content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"],
.content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"],
.content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .alignfull {
  max-width: var(--wp--custom--layout--thin); }
  .content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .editor-post-title__block.wp-block.wp-block-button,
  .content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block.wp-block-button,
  .content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"].wp-block-button,
  .content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="wide"].wp-block-button,
  .content-sidebar .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .alignfull.wp-block-button {
    margin-left: 0 !important;
    margin-right: 0 !important; }

/*----- ACF Radio Button Color Picker ---------------*/
.wp-admin .acf-block-component ul.acf-radio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0; }
  .wp-admin .acf-block-component ul.acf-radio-list li {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap; }
    .wp-admin .acf-block-component ul.acf-radio-list li label {
      width: 28px;
      height: 28px;
      position: relative;
      margin: 6px 12px 6px 0;
      color: white; }
      .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        border: 1px solid rgba(0, 0, 0, 0.2); }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"]:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"]:focus {
          box-shadow: 0 0 0 2px white, 0 0 0 4px #757575;
          border: 1px solid transparent; }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"]:checked::before {
          content: "\f15e";
          font-family: dashicons;
          width: 20px;
          height: 20px;
          background-color: transparent;
          font-size: 20px;
          margin: 1px;
          color: white; }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="background"]:checked::before, .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="white"]:checked::before, .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="grey-light"]:checked::before, .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="grey-medium"]:checked::before {
          color: black; }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="background"] {
          background-color: var(--wp--preset--color--background); }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="foreground"] {
          background-color: var(--wp--preset--color--foreground); }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="primary"] {
          background-color: var(--wp--preset--color--primary); }
        .wp-admin .acf-block-component ul.acf-radio-list li label input[type="radio"][value="secondary"] {
          background-color: var(--wp--preset--color--secondary); }

/* Admin ACF CSS */
/**
 * /assets/scss/partials/blocks/blocks-acf.scss
 *
 * Make sure ACF editor styles are using the block editor
 *
 */
body .acf-block-fields,
.edit-post-sidebar {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4em; }
  body .acf-block-fields .acf-field input[type="text"],
  body .acf-block-fields .acf-field input[type="password"],
  body .acf-block-fields .acf-field input[type="number"],
  body .acf-block-fields .acf-field input[type="search"],
  body .acf-block-fields .acf-field input[type="email"],
  body .acf-block-fields .acf-field input[type="url"],
  body .acf-block-fields .acf-field textarea,
  body .acf-block-fields .acf-field select,
  .edit-post-sidebar .acf-field input[type="text"],
  .edit-post-sidebar .acf-field input[type="password"],
  .edit-post-sidebar .acf-field input[type="number"],
  .edit-post-sidebar .acf-field input[type="search"],
  .edit-post-sidebar .acf-field input[type="email"],
  .edit-post-sidebar .acf-field input[type="url"],
  .edit-post-sidebar .acf-field textarea,
  .edit-post-sidebar .acf-field select {
    font-size: 14px;
    line-height: 1.4;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    transition: 50ms border-color ease-in-out;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #32373c; }
  body .acf-block-fields .acf-field textarea.wp-editor-area,
  .edit-post-sidebar .acf-field textarea.wp-editor-area {
    box-shadow: none;
    border: none; }
  body .acf-block-fields .acf-field input[type="checkbox"],
  body .acf-block-fields .acf-field input[type="radio"],
  .edit-post-sidebar .acf-field input[type="checkbox"],
  .edit-post-sidebar .acf-field input[type="radio"] {
    border: 1px solid #b4b9be;
    color: #555;
    height: 16px;
    width: 16px;
    border-radius: 0; }
  body .acf-block-fields .acf-field input[type="radio"],
  .edit-post-sidebar .acf-field input[type="radio"] {
    border-radius: 50%;
    padding: 1px !important; }
/*# sourceMappingURL=admin.css.map */