/**
 * /assets/scss/partials/layouts/archives.scss
 *
 * Let's define our archive styles
 *
 * - Archive
 * - The Loop
 *
 */

/* ----- Archive -------------------- */

/* ----- The Loop -------------------- */
.loop-wrapper {
     display: grid;
     flex-wrap: wrap;
     column-gap: var(--wp--custom--layout--block-gap);
     row-gap: var(--wp--custom--layout--block-gap);
     grid-template-columns: repeat( 3, 1fr );
     width: 100%;

     @include media( 'tablet' ) {
          grid-template-columns: repeat( 2, 1fr );
     }

     @include media( 'mobile' ) {
          grid-template-columns: 1fr;
     }
}
