/**
 * /assets/scss/partials/layouts/header.scss
 *
 * Let's define our header styles
 *
 *
 */

.site-header {
     width: 100%;
     padding: $base-margin;
     position: relative;

     @media(max-width:$mobile-breakpoint) {
          padding: $base-margin $mobile-margin;
     }

     > .wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
     }

     &__logo {

          img {
               width: auto;
               height: 125px;
          }
     }
}
