/**
 * /assets/scss/partials/layouts/interiors.scss
 *
 * Let's define our interior wrapper styles
 *
 * - Universal
 * - Sidebars
 *
 */

/* ----- Universal -------------------- */
.site-inner {
     width: 100%;
     overflow: hidden;
     padding: 0 var(--wp--custom--layout--padding);

     .content {
          display: flex;
          flex-wrap: wrap;
          padding: calc(var(--wp--custom--layout--block-gap) * 4) 0;
          width: 100%;

          > article {
               width: 100%;
          }
     }
}

.wrap {

     .site-header &,
     .site-footer &,
     .blog .site-inner &,
     .archive .site-inner &,
     .search .site-inner & {
          width: 100%;
          max-width: calc( var(--wp--custom--layout--default) );
          margin: 0 auto;
     }
}

@include media( 'mobile' ) {

     html #wpadminbar {
          position: fixed;
     }
}

/* ----- Sidebars -------------------- */
.content-sidebar {

     .site-inner {

          .wrap {
               display: flex;
               align-items: flex-start;
               flex-wrap: wrap;
               justify-content: space-between;

               .content {
                    width: var(--wp--custom--layout--thin);

                    .alignfull,
                    .alignwide {
                         max-width: 100%;
                         margin-left: 0;
                         margin-right: 0;
                    }
               }

               .sidebar {
                    padding: calc(var(--wp--custom--layout--block-gap) * 4) 0;
                    flex: 1;
                    padding-left: calc(var(--wp--custom--layout--block-gap) * 2);
               }
          }
     }
}
