/**
 * /assets/scss/partials/layouts/pagination.scss
 *
 * Let's define our pagination styles
 *
 * - Default
 * - FacetWP Pager
 */

/* ----- Default -------------------- */
.pagination {
     width: 100%;
     padding-top: 25px;
     border-top: 3px solid $neutral_1;

     .alignleft {
          float: left;
     }

     .alignright {
          float: right;
     }

     a {
          color: var(--wp--preset--color--primary);
          font-weight: 600;

          &:hover {
               text-decoration: none;
               color: var(--wp--preset--color--foreground);
          }
     }

     ul {
          width: 100%;
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;

          @include media( 'mobile' ) {
               flex-wrap: wrap;
          }

          li {
               display: inline-block;
               margin: 0 2px;

               a {
                    padding: 2px 11px;
                    border-radius: 3px;
                    color: var(--wp--preset--color--foreground);
                    font-size: 16px;
                    line-height: 26px;
                    display: inline-block;
               }

               &.active,
               &:hover {

                    a {
                         background-color: var(--wp--preset--color--primary);
                         color: var(--wp--preset--color--white);
                    }
               }

               @include media( 'mobile' ) {

                    &.pagination-previous,
                    &.pagination-next {
                         display: block;
                         width: 100%;
                         margin-bottom: 15px;
                         text-align: center;
                    }

                    &.pagination-next {
                         margin-bottom: 0;
                         margin-top: 15px;
                    }
               }
          }
     }
}

/* ----- FacetWP Pager -------------------- */
.archive-pager {
     width: 100%;
     display: flex;
     justify-content: center;

     .facetwp-facet {
          margin: 0;

          button {
               @extend %button-styles;

               margin-top: var(--wp--custom--layout--block-gap);
               margin-bottom: var(--wp--custom--layout--block-gap);

               &.facetwp-hidden {
                    display: none;
               }
          }
     }
}
