/*
	Theme Name: Leankor
	Description: Child Theme built with Genesis Framework by Whiteley Designs.
	Author: Matt Whiteley
	Author URI: https://whiteleydesigns.com
	Version: 1.0
	License: GPL-2.0+
	Template: genesis

     BEFORE MODIFYING THIS THEME:
     Please read the instructions here:  https://github.com/mwhiteley16/Whiteley-Designs-Blueprint/wiki/Base-Starter-Theme-Wiki
     For access contact matt@whiteleydesigns.com
*/
