/* ----- menu separators --------------- */
#adminmenu li.wp-menu-separator {
    margin: 0;
    background-color: rgba(255,255,255,0.3);
}

/* ----- block editor --------------- */
body .editor-styles-wrapper {
     padding: 0 $base-margin;

     a {
          color: $link_color;

          &:hover {
               color: darken( $link_color, 10% );
          }

          &[href^="tel"],
          &[href^="tel"]:hover {
               color: $base-color;
          }
     }
}

/*----- alignfull widths when editing with sidebar and/or WordPress menus --------------- */
.is-sidebar-opened .editor-styles-wrapper {

     .alignfull {
          max-width: calc(100vw - 281px);
          margin: 0 calc(50% - calc(50vw - 140px));
     }
}

body:not(.is-fullscreen-mode) .editor-styles-wrapper {

     .alignfull {
          max-width: calc(100vw - 160px);
          margin: 0 calc(50% - calc(50vw - 80px));
     }
}

body:not(.is-fullscreen-mode) .is-sidebar-opened .editor-styles-wrapper {

     .alignfull {
          max-width: calc(100vw - 440px);
          margin: 0 calc(50% - calc(50vw - 220px));
     }
}

/* ----- block editor content width for pages with sidebars --------------- */
.post-type-post,
.thin-layout {

	.editor-styles-wrapper {

          .editor-post-title__block.wp-block,
          .wp-block {
               max-width: $base-content-width;
               margin-left: auto !important;
               margin-right: auto !important;
          }
     }
}

.content-sidebar,
.sidebar-content {

	.editor-styles-wrapper {

          .editor-post-title__block.wp-block,
          .wp-block,
          .wp-block[data-align="full"],
          .wp-block[data-align="wide"],
          .alignfull {
               max-width: $base-content-width;
               margin-left: auto !important;
               margin-right: auto !important;
          }
     }
}

/*----- ACF Radio Button Color Picker ---------------*/
.wp-admin .acf-block-component {

     ul.acf-radio-list {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          margin-left: 0;

          li {
               margin-right: 0;
               display: flex;

               label {
                    width: 28px;
                    height: 28px;
                    position: relative;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    color: $white;

                    input[type="radio"] {
                         position: absolute;
                         top: 0;
                         left: 0;
                         width: 28px;
                         height: 28px;

                         &:checked {

                              &::before {
                                   content: "\f15e";
                                   font-family: dashicons;
                                   width: 20px;
                                   height: 20px;
                                   background-color: transparent;
                                   font-size: 20px;
                                   margin: 1px;
                                   color: $white;
                              }
                         }

                         // override light colors with a black checkmark when checked (default is white)
                         &[value="white"],
                         &[value="grey-light"],
                         &[value="grey-medium"] {

                              &:checked {

                                   &::before {
                                        color: $black;
                                   }
                              }
                         }

                         @each $name, $color in $colors {

                         	&[value="#{$name}"] {
                         		background-color: $color;
                         	}
                         }
                    }
               }
          }
     }
}
