/**
 * /assets/scss/partials/blocks/core/blocks-core-buttons.scss
 *
 * Let's define our core button styles
 *
 *
 */

/* ----- Core Block Buttons -------------------- */
.block-editor-block-list__block[data-type="core/buttons"],
.block-editor-block-list__block[data-type="core/button"] {
     margin-top: 0;
     margin-bottom: 0;
}

.wp-block-button__link,
a.wd-button {
	@extend %button-styles;
     text-decoration: none;

	&:not(.has-text-color) {
		color: white;

		&:hover {
			color: white;
		}
	}

	&:not(.has-background) {
		$default: nth( nth( $colors, 1 ), 2 );
		background-color: $default;

		&:hover,
		&:focus {
			background-color: darken( $default, 10% );
               border: 2px solid darken( $default, 10% );
		}
	}

	@each $name, $color in $colors {

		&.has-#{$name}-color:hover,
		&.has-#{$name}-color:focus {
			color: $color;
		}

          &.has-#{$name}-background-color,
		&.has-#{$name}-background-color {
			background-color: $color;
               border: 2px solid $color;

               &:hover,
               &:focus {
                    background-color: darken( $color, 10% );
                    border: 2px solid darken( $color, 10% );
               }
		}
	}

}

.is-style-inverse .wp-block-button__link,
a.wd-button--inverse {

     &:not(.has-text-color) {
          $default: nth( nth( $colors, 1 ), 2 );
          color: $default;

          &:hover {
               color: white;
          }
     }

     &:not(.has-background) {
          $default: nth( nth( $colors, 1 ), 2 );
          background-color: transparent;

          &:hover,
          &:focus {
               background-color: darken( $default, 10% );
               border: 2px solid darken( $default, 10% );
          }
     }

     @each $name, $color in $colors {

          &.has-#{$name}-color,
          &.has-#{$name}-color {
               color: $color;

               &:hover,
               &:focus {
                    color: $white !important;
               }
          }

          &.has-#{$name}-background-color,
          &.has-#{$name}-background-color {
               background-color: transparent !important; // need important to override gutenberg inline styles
               border: 2px solid $color;

               &:hover,
               &:focus {
                    background-color: $color !important;
                    border: 2px solid $color;
               }
          }
     }
}
