/**
 * /assets/scss/partials/blocks/acf/blocks-faq.scss
 *
 * Let's define our faq block styles
 *
 *
 */

.faq-block {
     display: block;
     width: 100%;
     margin-bottom: var(--wp--custom--layout--block-gap);

     &__toggle {
          width: 100%;
          position: relative;
          margin-top: 24px;
          padding: 20px;
          background-color: $neutral_1;
          border: 1px solid $neutral_4;

          @include media( 'mobile' ) {
               padding: 15px;
          }

          &:first-child {
               margin-top: 0;
          }

          &-question {
               margin: -10px 0 -10px -10px;
               padding: 10px;
               font-size: var(--wp--preset--font-size--large);
               line-height: var(--wp--custom--typography--line-height--small);
               font-weight: 600;
               transition: all 0.2s ease-in-out;
               cursor: pointer;
               border: none;
               background-color: transparent;
               text-align: left;

               &:hover {
                    color: var(--wp--preset--color--primary);
               }

               &-icons {
                    position: absolute;
                    right: 20px;
                    top: 22px;
                    width: 20px;
                    height: 20px;
                    border: none;
                    background-color: transparent;

                    &::before,
                    &::after {
                         content: "";
                         position: absolute;
                         width: 100%;
                         height: 4px;
                         top: calc(50% - 2px);
                         right: 0;
                         border-radius: 4px;
                         background-color: var(--wp--preset--color--foreground);
                         @extend %transition;
                    }

                    &::after {
                         transform: rotate(90deg);
                    }

                    &:hover {

                         &::before,
                         &::after {
                              background-color: var(--wp--preset--color--primary);
                         }
                    }

                    &:focus {
                         outline-offset: 4px;
                    }
               }
          }

          &-answer {
               display: none;
               margin-top: var(--wp--custom--layout--block-gap);

               p {

                    &:last-child {
                         margin-bottom: 0;
                    }
               }

               &[aria-hidden=true],
               &[data-hidden=true] {
                    display: none;
               }
          }

          &.active {
               background-color: var(--wp--preset--color--white);

               .faq-block__toggle {

                    &-question {
                         color: var(--wp--preset--color--primary);

                         &-icons {

                              &::before {
                                   opacity: 0;
                              }

                              &::after {
                                   transform: rotate(0);
                              }
                         }
                    }
               }
          }
     }
}
