/**
 * /assets/scss/partials/blocks/acf/blocks-separator.scss
 *
 * Let's define our separator block styles
 *
 *
 */

.acf-separator-block {
     display: flex;
     width: 100%;
     justify-content: flex-start;
     margin-bottom: var(--wp--custom--layout--block-gap);

     &.alignfull {
          width: 100vw;
     }

     &.no-margin {
          margin-bottom: 0;
     }

     &.center-align {
          justify-content: center;
     }

     &.right-align {
          justify-content: flex-end;
     }
}

// override default 10px min height on acf block previews in editor
.wp-block-acf-acf-separator .acf-block-body .acf-block-preview {
     min-height: 1px;
}
