/**
 * /assets/scss/partials/blocks/blocks-team.scss
 *
 * Let's define our team block styles
 *
 *
 */

.team-block {
     position: relative;
     margin-bottom: var(--wp--custom--layout--block-gap);

     &__interior {
          display: grid;
          flex-wrap: wrap;
          column-gap: var(--wp--custom--layout--block-gap);
          row-gap: calc(var(--wp--custom--layout--block-gap) + 20px);
          grid-template-columns: repeat( 3, 1fr );
          width: 100%;

          @include media( 'tablet' ) {
               grid-template-columns: repeat( 2, 1fr );
          }

          @include media( 'mobile' ) {
               grid-template-columns: 1fr;
          }
     }

     &__headshot {
          display: flex;
          width: 100%;

          img {
               display: block;
          }
     }

     &__name {
          display: block;
          width: 100%;
          margin: calc(var(--wp--custom--layout--block-gap) / 2) 0 0;
     }

     &__position {
          display: block;
          width: 100%;
     }

     &__email {
          display: block;
          width: 100%;
          margin-top: calc(var(--wp--custom--layout--block-gap) / 2);
     }

     &__social {
          display: block;
          width: 100%;
          margin-top: calc(var(--wp--custom--layout--block-gap) / 2);

          &-item {
               margin-right: 5px;

               &:last-child {
                    margin-right: 0;
               }
          }
     }
}
