/**
 * /assets/scss/partials/blocks/acf/blocks-cwb.scss
 *
 * Let's define our cover white box block styles
 *
 *
 */

.cwb-block {
     height: 680px;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: flex-start;
     position: relative;

     &.content-vertical-bottom-align {
          align-items: flex-end;
     }

     &.content-vertical-center-align {
          align-items: center;
     }

     @media(max-width:$tablet-breakpoint) {
          background-image: none !important;
          height: auto;
          flex-wrap: wrap;
     }

     &__wrap {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          max-width: $base-width;
          width: 100%;
          margin: 0 auto;
          position: relative;
          z-index: 1;

          .content-horizontal-right-align & {
               justify-content: flex-end;
          }

          .content-horizontal-center-align & {
               justify-content: center;
          }

          @media(max-width:$tablet-breakpoint) {
               order: 2;
          }
     }

     &__content {
          width: 100%;
          max-width: 448px;
          background-color: $white;
          padding: 48px;
          box-shadow: 32px 32px 48px rgba(60, 62, 64, 0.2);

          @media(max-width:$tablet-breakpoint) {
               max-width: 100%;
               padding: 20px;
          }
     }

     &__img {
          display: none;
          order: 1;
          width: 100%;
          position: relative;
          height: 275px;

          img {
               display: block;
               width: 100%;
          }

          @media(max-width:$tablet-breakpoint) {
               display: block;
          }
     }
}
