/**
 * /assets/scss/partials/forms/forms-gravity-address.scss
 *
 * Let's define styles for Gravity Forms Address Fields
 *
 *
 */

.ginput_container_address {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

     span {
          margin-top: calc(#{$form-spacing} / 2);
          width: 100%;

          &:first-child {
               margin-top: 0;
          }

          &.address_city,
          &.address_state,
          &.address_zip {
               width: calc(calc(100% / 3) - calc(calc(#{$form-spacing} * 2) / 3));

               @media(max-width:$mobile-breakpoint) {
                    width: 100%;
               }
          }

          label {
               font-size: calc(#{$form-font-size} - 2px);
               margin-top: 3px;
          }
     }
}
