/**
 * /assets/scss/partials/forms/forms-gravity-validation.scss
 *
 * Let's define styles for Gravity Forms validation
 *
 *
 */

.gform_validation_errors {
     border: 2px solid $form-error;
     padding: $form-padding;
     margin-bottom: $form-spacing;
     border-radius: $form-border-radius;
     background-color: #fff9f9;
     text-align: center;

     h2 {
          font-size: 20px;
          margin: 0;
     }
}

 .gfield_error {

 	.validation_message {
 		color: $form-error;
          font-size: 12px;
          font-style: italic;
 	}

 	input,
 	textarea,
 	select {
 		border-color: $form-error;
          background-color: #fff9f9;

 		&:focus {
 			border-color: darken($form-error, 10%);
 		}
 	}
 }

 .gform_validation_container {
	display: none;
	position: absolute;
	left: -9000px;
}
