/* Author Dependencies */
@import 'partials/base/variables'; // must be first
@import 'partials/base/mixins'; // must be second
// @import 'partials/base/animations';
@import 'partials/base/buttons';
@import 'partials/base/headings';
@import 'partials/base/reset';
@import 'partials/base/tables';
@import 'partials/base/typography';
@import 'partials/base/universal';


/* Layouts */
@import 'partials/layouts/archives';
@import 'partials/layouts/error404';
@import 'partials/layouts/flickity';
@import 'partials/layouts/footer';
@import 'partials/layouts/header';
@import 'partials/layouts/interiors';
@import 'partials/layouts/navigation';
@import 'partials/layouts/pagination';
@import 'partials/layouts/search';
@import 'partials/layouts/singular';
// @import 'partials/layouts/widgets';


/* Forms */
@import 'partials/forms/forms-base';
@import 'partials/forms/forms-gravity';


/* Blocks */
@import 'partials/blocks/blocks-base';
